<h3>Purpose</h3>
<p>
  The word Numidi is an ancient asian word for people who play with numbers for a long time. Or, it's just an abbreviation for Number Idiot. The goal of this solitaire game is to remove all numbers at the board. The game was written as an attempt to save my wife from solving the puzzle by pen and paper.
  <br>
  The shorter widths are preferable used for devices with small displays.
</p>
<h3>Used technology</h3>
<ul>
  <li><a href="http://angularjs.org/" target="_blank">AngularJS</a></li>
  <li><a href="http://angular-ui.github.io/bootstrap/" target="_blank">AngularUI's UI Bootstrap</a></li>
  <li><a href="http://getbootstrap.com/2.3.2/" target="_blank">Twitter Bootstrap</a></li>
  <li><a href="http://yeoman.io/" target="_blank">Yeoman</a></li>
  <li><a href="http://bower.io/" target="_blank">Bower</a></li>
  <li><a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
</ul>
<h3>Creator</h3>
<p>
  Erik Wallin<br>
  Mail: wallin_erik (at) yahoo.com<br>
  LinkedIn: <a href="http://se.linkedin.com/in/erikwallin/" target="_blank">http://se.linkedin.com/in/erikwallin/</a>
</p>