<!doctype html>
<html data-ng-app="numidiApp">
<head>
  <meta charset="utf-8">
  <title>Numidi</title>
  <link rel="stylesheet" href="css/game.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="js/app.js"></script>
  <script src="js/game.js"></script>
</head>
<body data-ng-controller="GameCtrl">

  <tabset>
    <tab heading="Play">
      <table>
        <tr data-ng-repeat="row in game.grid">
          <td data-ng-repeat="tile in row" data-ng-click="game.pickTile(tile)" data-ng-class="{selected: tile.picked, solved: tile.solved}">
            {{tile.number}}
          </td>
        </tr>
      </table>
    </tab>
    <tab heading="Settings">TODO</tab>
    <tab heading="Instructions">
      The goal is to remove all numbers in table. You can do it by matching adjacent numbers in horizontal, vertical and diagonal. They will be removed if they are the same number or if the sum is 10. When no more moves are possible, you should press the deal button to continue removing the numbers.
    </tab>
  </tabset>

  <br />
  <button ng-click="game.newGame()" class="btn btn-primary">New game</button>
  <button ng-click="game.deal()" class="btn btn-primary" data-ng-class="{disabled: game.win || !game.started}">Deal</button>

  <div ng-show="game.win">Congratulations!</div>

</body>
</html>
