<table>
  <tr data-ng-repeat="row in board.grid">
    <td data-ng-repeat="tile in row" data-ng-click="pickTile(tile)" data-ng-class="{selected: tile.picked, solved: tile.solved}">
      {{tile.number}}
    </td>
  </tr>
  
</table>
<br data-ng-show="board.grid.length > 0" />
<p data-ng-show="board.grid.length == 0">Welcome!</p>
<button data-ng-click="newGame()" class="btn btn-primary">New game</button>
<button data-ng-click="deal()" class="btn btn-primary" data-ng-class="{disabled: win || !started}">Deal</button>
<div data-ng-show="board.win">Congratulations!</div>
