<h3>Goal</h3>
<p>The goal is to remove all numbers in the table.</p>
<h3>Gameplay</h3>
<p>Remove connected numbers with same value or a sum of 10. Connected numbers means that the two numbers are next to each other - horizontal, vertical or diagonal. The rows wraps, which means that the last number in a row is connected to the first number in the next row. The last row is also wrapped with the first row.</p>
<p>When no more moves are possible, press the deal button to continue removing the numbers. All previous numbers are dealt in the same order as on the table, but without the space.</p>
<p>Pro tip: Numbers of a value that are removed completely from the board never come back.</p>
<h3>Score</h3>
<p>The number of used tiles are the score, less is better.</p>
